/* src/components/Footer/Footer.css */

.footer {
    @apply bg-primary-dark text-white py-14 px-5;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-section {
    @apply flex flex-col;
  }
  .footer-section-logo{
    width: 80%;
  }

  .footer-logo {
width: 10%
  }
  
  .footer-description {
    @apply text-gray-300;
  }
  
  .footer-section-title {
    @apply font-bold text-red-500 mb-2;
  }
  
  .footer-list {
    @apply list-none p-0 space-y-2;
  }
  
  .footer-list a {
    @apply text-gray-300 hover:text-primary transition-colors;
  }
  
  .social-icons {
    @apply flex space-x-4 mt-2;
  }
  
  .newsletter-form {
    @apply flex flex-col sm:flex-row sm:space-x-2 mt-2;
  }
  
  .newsletter-input {
    @apply w-full sm:w-auto flex-1 px-4 py-2 rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary;
  }
  
  .newsletter-button {
    @apply mt-2 sm:mt-0 bg-primary text-white px-4 py-2 rounded-md hover:bg-primary-dark transition-colors;
  }
  
  .footer-products {
    @apply mt-10;
  }
  
  /* Дополнительные стили для ProductList */
  .footer-products .product-list {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4;
  }
  
  .footer-products .product-item {
    @apply bg-gray-800 p-4 rounded-md shadow-md flex flex-col items-center;
  }
  
  .footer-products .product-item img {
    @apply w-24 h-24 object-cover rounded-full mb-2;
  }
  
  .footer-products .product-item h4 {
    @apply text-lg font-semibold text-primary mb-1;
  }
  
  .footer-products .product-item p {
    @apply text-gray-400 text-sm text-center;
  }
  @media(max-width: 750px ){
    .footer-logo{
      opacity: 0.1;
      position: absolute;
      width: 55%;
      left: 20%;
    }
    .footer-container{
      flex-direction: column;
    }
  }

  @media(max-width: 750px ){
  
    .footer-container{
      width: 90%;
    }
  }